@charset "UTF-8";
/*        Обнулення          */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: #fff;
  background-color: #222222;
  background-image: url(../img/bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*             Обнулення             */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  position: absolute;
  margin: 46px 0 0 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media (max-width: 894px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  font-size: 24px;
}

.header__menu {
  margin: 0 0 0 565px;
}

@media (max-width: 894px) {
  .header__menu {
    margin: 0;
  }
}

.menu-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  .menu-block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu-block__item:not(:last-child) {
  margin: 0 40px 0 0;
}

@media (max-width: 750px) {
  .menu-block__item:not(:last-child) {
    margin: 0;
  }
}

.menu-block__link {
  font-size: 11px;
  color: #999999;
}

.menu-block__link:hover {
  color: #00D6B4;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.main {
  position: relative;
  margin: 226px 0 0 0;
  width: 100%;
  top: 0;
  left: 0;
}

.web-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web-block__title {
  font-size: 48px;
  max-width: 465px;
  text-align: center;
}

.web-block__button {
  border: 1px solid #00D6B4;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 29px 0 0 0;
  padding: 10px 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #00D6B4;
}

.web-block__button:hover {
  background-color: #00D6B4;
  color: #fff;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.work-block {
  margin: 189px 0 0 0;
}

.work-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-block__title {
  font-size: 25px;
}

.work-block__body {
  margin: 33px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-gap: 20px 22px;
}

@media (max-width: 950px) {
  .work-block__body {
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
}

@media (max-width: 621px) {
  .work-block__body {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
}

.footer {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 136px 0 0 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-size: 18px;
  color: #C2C2C2;
}

.footer__subtitle {
  margin: 10px 0 37px 0;
  font-size: 12px;
  color: #C2C2C2;
}
