.footer {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	margin: 136px 0 0 0;
}
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer__title {
	font-size: 18px;
	color: #C2C2C2;
}
.footer__subtitle {
	margin: 10px 0 37px 0;
	font-size: 12px;
	color: #C2C2C2;
}